{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Jogos</title>
</head>
<body>
    <header>
        <a href="/jogoSnake"><h3>Jogo Snake</h3></a>
        <a href="/jogoVelha"><h3>Jogo da Velha</h3></a>
        <a href="/jogoForca"><h3>Jogo da Forca</h3></a>
        <a href="/jogoGenius"><h3>Jogo Genius</h3></a>
        <a href="/jogoMemoria"><h3>Jogo da Memoria</h3></a>
    </header>
</body>
</html>